<html>
<head>
  <title>patient list</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
  <title>patient list</title>
 <link href="/css/steps.css.scss" rel="stylesheet">
 <link href="/css/new.css.scss" rel="stylesheet">
</head>


<!-- progress steps  -->

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div id="steps">
  <div class="step " data-desc="Select Patient">1</div>
  <div class="step " data-desc="Select Meds">2</div>
  <div class="step active" data-desc="Education">3</div>
  <div class="step" data-desc="Teach Back">4</div>
</div>


<script>
$(document).ready( function() {
  $('.step').each(function(index, element) {
    // element == this
    $(element).not('.active').addClass('done');
    $('.done').html('<i class="icon-ok"></i>');
    if($(this).is('.active')) {
      return false;
    }
  });
});
</script>
<!-- end progress steps -->

<!-- line break -->
<hr style="border:none;border-top:1px solid rgba(102, 102, 102, 0.16);border-bottom:1px solid rgba(204, 204, 204, 0);" />
<!-- end -->
<%= render "/css" %>

<!-- line break -->
<hr style="border:none;border-top:1px solid rgba(102, 102, 102, 0.16);border-bottom:1px solid rgba(204, 204, 204, 0);" />
<!-- end -->


<a href="/session/1/survey/1"><button class="button-large pure-button" style="font-size: 125%;">Survey</button></a>

<!-- our education list (indication/education pt's) via List -->

<%= render "/educationpt" %>






<!--  our education list (indication/education pt's) via List -->

<body>

</body>
</html>