/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #A_1 {
    background-attachment: scroll;
    background-blend-mode: normal;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://maps.googleapis.com/maps/api/streetview?size=280x200&key=AIzaSyAjZoFCDr8pn5rpgtre2jYMzheJK10seCE&sensor=false&location=37.782755%2C-122.39319499999999);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: 140px 100px;
    border-bottom-color: rgb(243, 243, 243);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(243, 243, 243);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(243, 243, 243);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(243, 243, 243);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 10px;
    box-shadow: none;
    box-sizing: border-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: rgba(0, 0, 0, 0);
    cursor: auto;
    direction: ltr;
    display: block;
    empty-cells: show;
    float: none;
    font-family: ProximaNovaReg, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-kerning: auto;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
    height: 102px;
    image-rendering: auto;
    left: auto;
    letter-spacing: normal;
    line-height: 102px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-height: none;
    max-width: none;
    min-height: 0px;
    min-width: 0px;
    object-fit: fill;
    object-position: 50% 50%;
    opacity: 0.800000011920929;
    orphans: auto;
    outline-color: rgba(0, 0, 0, 0);
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: normal;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    pointer-events: auto;
    position: absolute;
    resize: none;
    right: 10px;
    speak: normal;
    table-layout: auto;
    tab-size: 8;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-overflow: clip;
    text-transform: none;
    top: auto;
    touch-action: auto;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: auto;
    width: 142px;
    will-change: auto;
    word-break: normal;
    word-spacing: 0px;
    word-wrap: normal;
    z-index: 0;
    zoom: 1;
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 0s;
    -webkit-animation-fill-mode: none;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: none;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: ease;
    -webkit-appearance: none;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -webkit-background-clip: border-box;
    -webkit-background-composite: source-over;
    -webkit-background-origin: padding-box;
    -webkit-background-size: 140px 100px;
    -webkit-border-fit: border;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-image: none;
    -webkit-border-vertical-spacing: 0px;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-direction: normal;
    -webkit-box-flex: 0;
    -webkit-box-flex-group: 1;
    -webkit-box-lines: single;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-box-reflect: none;
    -webkit-box-shadow: none;
    -webkit-clip-path: none;
    -webkit-column-break-after: auto;
    -webkit-column-break-before: auto;
    -webkit-column-break-inside: auto;
    -webkit-column-count: auto;
    -webkit-column-gap: normal;
    -webkit-column-rule-color: rgba(0, 0, 0, 0);
    -webkit-column-rule-style: none;
    -webkit-column-rule-width: 0px;
    -webkit-column-span: none;
    -webkit-column-width: auto;
    -webkit-filter: none;
    align-content: stretch;
    align-items: stretch;
    align-self: stretch;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    -webkit-font-smoothing: auto;
    -webkit-highlight: none;
    -webkit-hyphenate-character: auto;
    -webkit-line-box-contain: block inline replaced;
    -webkit-line-break: auto;
    -webkit-line-clamp: none;
    -webkit-locale: en;
    -webkit-margin-before-collapse: collapse;
    -webkit-margin-after-collapse: collapse;
    -webkit-mask-box-image: none;
    -webkit-mask-box-image-outset: 0px;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-mask-box-image-source: none;
    -webkit-mask-box-image-width: auto;
    -webkit-mask-clip: border-box;
    -webkit-mask-composite: source-over;
    -webkit-mask-image: none;
    -webkit-mask-origin: border-box;
    -webkit-mask-position: 0% 0%;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: auto;
    order: 0;
    perspective: none;
    -webkit-perspective: none;
    perspective-origin: 71px 51px;
    -webkit-perspective-origin: 71px 51px;
    -webkit-print-color-adjust: economy;
    -webkit-rtl-ordering: logical;
    shape-outside: none;
    shape-image-threshold: 0;
    shape-margin: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-combine: none;
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgba(0, 0, 0, 0);
    -webkit-text-emphasis-position: over;
    -webkit-text-emphasis-style: none;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-security: none;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 0px;
    transform: none;
    -webkit-transform: none;
    transform-origin: 71px 51px;
    -webkit-transform-origin: 71px 51px;
    transform-style: flat;
    -webkit-transform-style: flat;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    -webkit-user-drag: auto;
    -webkit-user-modify: read-only;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    -webkit-app-region: no-drag;
    buffered-rendering: auto;
    clip-path: none;
    clip-rule: nonzero;
    mask: none;
    filter: none;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    lighting-color: rgb(255, 255, 255);
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    color-rendering: auto;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    marker-end: none;
    marker-mid: none;
    marker-start: none;
    mask-type: luminance;
    shape-rendering: auto;
    stroke: none;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1;
    alignment-baseline: auto;
    baseline-shift: baseline;
    dominant-baseline: auto;
    text-anchor: start;
    writing-mode: lr-tb;
    glyph-orientation-horizontal: 0deg;
    glyph-orientation-vertical: auto;
    vector-effect: none;
    paint-order: fill stroke markers;
    content: ;
    background: rgba(0, 0, 0, 0) url(https://maps.googleapis.com/maps/api/streetview?size=280x200&key=AIzaSyAjZoFCDr8pn5rpgtre2jYMzheJK10seCE&sensor=false&location=37.782755%2C-122.39319499999999) repeat scroll 0% 0% / 140px 100px padding-box border-box;
    border: 1px solid rgb(243, 243, 243);
    border-top: 1px solid rgb(243, 243, 243);
    border-right: 1px solid rgb(243, 243, 243);
    border-bottom: 1px solid rgb(243, 243, 243);
    border-left: 1px solid rgb(243, 243, 243);
    border-width: 1px;
    border-color: rgb(243, 243, 243);
    border-style: solid;
    border-radius: 0px 0px 0px 0px;
    border-image: none;
    border-spacing: 0px 0px;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    font: normal normal normal 18px/102px ProximaNovaReg, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: disc outside none;
    margin: 0px;
    marker: ;
    outline: rgba(0, 0, 0, 0) none 0px;
    overflow: visible;
    padding: 0px;
    transition: all 0s ease 0s;
    -webkit-border-after: 1px solid rgb(243, 243, 243);
    -webkit-border-before: 1px solid rgb(243, 243, 243);
    -webkit-border-end: 1px solid rgb(243, 243, 243);
    -webkit-border-start: 1px solid rgb(243, 243, 243);
    -webkit-margin-collapse: ;
    -webkit-mask: ;
    -webkit-text-emphasis: ;
    -webkit-transition: all 0s ease 0s;
}/*#A_1*/

