<header id="HEADER_9">


  <h1 id="H1_16">
    Session 1: 3 drugs
  </h1>
</header>
<div id="DIV_17">

  <button id="start_time" type="submit" class="btn btn-block btn-success">Start timing the education time</button>

  <button id="BUTTON_19" type="submit">
    Stop timing the education time
  </button>


<li id="LI_30">
      <img src="/img/meds/Atorvastatin.png" id="IMG_31" alt='' />

  <h2>Generic Drug Name: Atorvastatin Calcium</h2>
</li>

  <h4 style="padding-left: 7%;">Brand Drug Name: Lipitor</h4>
  <h5 align="middle" > Indications</h5>


  <ul id="UL_23">
    <li id="LI_24">
      <img src="/img/a/Dyslipidemia.png" id="IMG_25" alt='' />
      <div id="DIV_26">
        Dyslipidemia
      </div>
    </li>
    <li id="LI_27">
      <img src="/img/a/cardiovascular disease.png" id="IMG_28" alt='' />
      <div id="DIV_29">
        Primary and secondary prevention of cardiovascular disease
      </div>
    </li>
    <li id="LI_30">
      <img src="/img/a/ASCVD.png" id="IMG_31" alt='' />
      <div id="DIV_32">
        Primary and secondary prevention of ASCVD
      </div>
    </li>
    <li id="LI_33">
      <img src="/img/a/hypercholesterolemia.png" id="IMG_34" alt='' />
      <div id="DIV_35">
        Treatment of heterozygous familial hypercholesterolemia
      </div>
    </li>
  </ul>
<h5 align="middle" > Education points </h5>
  <ul id="UL_37">
    <li id="LI_38">
      <img src="/img/a/Myalgias.png" id="IMG_39" alt='' />
      <div id="DIV_40">
        Myalgias
      </div>
    </li>
    <li id="LI_41">
      <img src="/img/a/blood work.png" id="IMG_42" alt='' />
      <div id="DIV_43">
        Talk to your doctor about having your blood work checked.
      </div>
    </li>
    <li id="LI_44">
      <img src="/img/a/Dark urine.png" id="IMG_45" alt='' />
      <div id="DIV_46">
        Dark urine
      </div>
    </li>
    <li id="LI_47">
      <img src="/img/a/Hepatotoxicity.png" id="IMG_48" alt='' />
      <div id="DIV_49">
        Hepatotoxicity
      </div>
    </li>
  </ul>
  <ul id="UL_50">
  </ul>

<li id="LI_30">
      <img src="/img/meds/Furosemide.png" id="IMG_31" alt='' />

  <h2>Generic Drug Name: Furosemide</h2>

</li>

    <h4 style="padding-left: 7%;">Brand Drug Name: Lasix</h4>


<h5 align="middle" > Indications</h5>
  <ul id="UL_54">
    <li id="LI_55">
      <img src="/img/f/Edema.png" id="IMG_56" alt='' />
      <div id="DIV_57">
        Edema
      </div>
    </li>
    <li id="LI_58">
      <img src="/img/f/Hypertension.png" id="IMG_59" alt='' />
      <div id="DIV_60">
        Hypertension
      </div>
    </li>
  </ul>
<h5 align="middle" > Education points </h5>
  <ul id="UL_62">
    <li id="LI_63">
      <img src="/img/f/Dizziness.png" id="IMG_64" alt='' />
      <div id="DIV_65">
        Dizziness
      </div>
    </li>
    <li id="LI_66">
      <img src="/img/f/Hypokalemia.png" id="IMG_67" alt='' />
      <div id="DIV_68">
        Hypokalemia
      </div>
    </li>
    <li id="LI_69">
      <img src="/img/f/Photosensitivity.png" id="IMG_70" alt='' />
      <div id="DIV_71">
        Photosensitivity
      </div>
    </li>
    <li id="LI_72">
      <img src="/img/f/Urinary Frequency.png" id="IMG_73" alt='' />
      <div id="DIV_74">
        Urinary Frequency
      </div>
    </li>
    <li id="LI_75">
      <img src="/img/f/Hypotension.png" id="IMG_76" alt='' />
      <div id="DIV_77">
        Hypotension
      </div>
    </li>
  </ul>
  <ul id="UL_78">
  </ul>

<li id="LI_30">
      <img src="/img/meds/Metoprolol Tartrate.png" id="IMG_31" alt='' />

    <h2>Generic Drug Name: Metoprolol</h2>
</li>



      <h4 style="padding-left: 7%;">Brand Drug Name: Lopressor</h4>

 <h5 align="middle" > Indications</h5>
  <ul id="UL_82">
    <li id="LI_83">
      <img src="/img/m/Angina.png" id="IMG_84" alt='' />
      <div id="DIV_85">
        Angina
      </div>
    </li>
    <li id="LI_86">
      <img src="/img/m/Hypertension.png" id="IMG_87" alt='' />
      <div id="DIV_88">
        Hypertension
      </div>
    </li>
    <li id="LI_89">
      <img src="/img/m/myocardial infarction.png" id="IMG_90" alt='' />
      <div id="DIV_91">
        Hemodynamically-stable acute myocardial infarction
      </div>
    </li>
    <li id="LI_92">
      <img src="/img/m/Heart failure.png" id="IMG_93" alt='' />
      <div id="DIV_94">
        Heart failure
      </div>
    </li>
  </ul>
<h5 align="middle" > Education points </h5>
  <ul id="UL_96">
    <li id="LI_97">
      <img src="/img/m/Hypotension.png" id="IMG_98" alt='' />
      <div id="DIV_99">
        Hypotension
      </div>
    </li>
    <li id="LI_100">
      <img src="/img/m/Dizziness.png" id="IMG_101" alt='' />
      <div id="DIV_102">
        Dizziness
      </div>
    </li>
    <li id="LI_103">
      <img src="/img/m/Fatigue.png" id="IMG_104" alt='' />
      <div id="DIV_105">
        Fatigue
      </div>
    </li>
    <li id="LI_106">
      <img src="/img/m/Diarrhea.png" id="IMG_107" alt='' />
      <div id="DIV_108">
        Diarrhea
      </div>
    </li>
  </ul>
  <ul id="UL_109">
  </ul>
</div>

<script id="SCRIPT_120">$("#start_time").click(function(event){
    alert("Great! Time recorded!");
    var session_id = "55";
    $.get("/session/" + session_id + "/start_time");
    $("#start_time").hide();
    $("#stop_time").removeClass('hidden')
  });
  $("#stop_time").click(function(event){
    alert("Great! Stop session!");
    var session_id = "55";
    $.get("/session/" + session_id + "/stop_time");
  });
</script>

<style>


h1#H1_16 {
text-align: left;
}



#LI_33, #LI_47, #LI_58, #LI_75, #LI_92, #LI_106 {
    background-position: 15px 100%;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 64px;
    position: relative;
    width: 2268px;
    perspective-origin: 1134px 32px;
    transform-origin: 1134px 32px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 15px 100% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    margin: 15px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    padding: 11px 65px 11px 15px;
}/*#LI_33, #LI_47, #LI_58, #LI_75, #LI_92, #LI_106*/

#DIV_40, #DIV_99 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 18px;
    text-align: left;
    width: 2136px;
    perspective-origin: 1068px 9px;
    transform-origin: 1068px 9px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_40, #DIV_99*/

#LI_44, #LI_69, #LI_89 {
    background-position: 15px 100%;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 64px;
    position: relative;
    width: 2268px;
    perspective-origin: 1134px 32px;
    transform-origin: 1134px 32px;
    background: rgba(0, 0, 0, 0) url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>') no-repeat scroll 15px 100% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    margin: 15px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    padding: 11px 65px 11px 15px;
}/*#LI_44, #LI_69, #LI_89*/

#UL_50, #UL_78, #UL_109 {
    background-blend-mode: normal, normal;
    background-position: 0px 100%, 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    width: 2268px;
    z-index: 0;
    perspective-origin: 1134px 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 1134px 0px;
    background: rgb(255, 255, 255) url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>') no-repeat, no-repeat scroll, scroll 0px 100%, 0px 0px / auto, auto padding-box, padding-box border-box, border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_50, #UL_78, #UL_109*/

#BUTTON_51, #BUTTON_79 {
    box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 34px;
    min-height: 0px;
    position: relative;
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 2268px;
    z-index: 0;
    perspective-origin: 1134px 17px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 1134px 17px;
    background: rgb(0, 122, 255) linear-gradient(rgb(66, 139, 202) 0px, rgb(45, 108, 162) 100%) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(0, 122, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal 14px/20px verdana, arial, helvetica, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 6px 12px;
    transition: all 0.2s linear 0s;
}/*#BUTTON_51, #BUTTON_79*/

#UL_54 {
    background-blend-mode: normal, normal;
    background-position: 0px 100%, 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 143px;
    width: 2268px;
    z-index: 0;
    perspective-origin: 1134px 71.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 1134px 71.5px;
    background: rgb(255, 255, 255) url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>') no-repeat, no-repeat scroll, scroll 0px 100%, 0px 0px / auto, auto padding-box, padding-box border-box, border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_54*/

#UL_62 {
    background-blend-mode: normal, normal;
    background-position: 0px 100%, 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 380px;
    width: 2268px;
    z-index: 0;
    perspective-origin: 1134px 190px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 1134px 190px;
    background: rgb(255, 255, 255) url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>') no-repeat, no-repeat scroll, scroll 0px 100%, 0px 0px / auto, auto padding-box, padding-box border-box, border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_62*/

#LI_103 {
    background-position: 15px 100%;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 64px;
    position: relative;
    width: 2268px;
    perspective-origin: 1134px 32px;
    transform-origin: 1134px 32px;
    background: rgba(0, 0, 0, 0) url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>') no-repeat scroll 15px 100% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    margin: 15px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    padding: 11px 65px 11px 15px;
}/*#LI_103*/

#NAV_110 {
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.85098) 0px 0px 1px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: table;
    height: 50px;
    left: 0px;
    position: fixed;
    right: 0px;
    table-layout: fixed;
    width: 2283px;
    z-index: 10;
    backface-visibility: hidden;
    perspective-origin: 1141.5px 25px;
    transform-origin: 1141.5px 25px;
    background: rgba(247, 247, 247, 0.980392) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#NAV_110*/

#A_111 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    display: table-cell;
    height: 50px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 761px;
    perspective-origin: 380.5px 25px;
    transform-origin: 380.5px 25px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(66, 139, 202);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    outline: rgb(66, 139, 202) none 0px;
}/*#A_111*/

#SPAN_112 {
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    display: inline-block;
    height: 13px;
    position: relative;
    text-align: center;
    top: 1px;
    width: 13px;
    perspective-origin: 6.5px 6.5px;
    transform-origin: 6.5px 6.5px;
    border: 0px none rgb(66, 139, 202);
    font: normal normal normal 13px/13px 'Glyphicons Halflings';
    outline: rgb(66, 139, 202) none 0px;
}/*#SPAN_112*/

#SPAN_112:before {
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    text-align: center;
    content: '';
    border: 0px none rgb(66, 139, 202);
    font: normal normal normal 13px/13px 'Glyphicons Halflings';
    outline: rgb(66, 139, 202) none 0px;
}/*#SPAN_112:before*/

#SPAN_113 {
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    text-align: center;
    border: 0px none rgb(66, 139, 202);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    outline: rgb(66, 139, 202) none 0px;
}/*#SPAN_113*/

#A_114, #A_117 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(146, 146, 146);
    display: table-cell;
    height: 50px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 761px;
    perspective-origin: 380.5px 25px;
    transform-origin: 380.5px 25px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(146, 146, 146);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    outline: rgb(146, 146, 146) none 0px;
}/*#A_114, #A_117*/

#SPAN_115 {
    box-sizing: border-box;
    color: rgb(146, 146, 146);
    display: inline-block;
    height: 13px;
    position: relative;
    text-align: center;
    top: 1px;
    width: 13px;
    perspective-origin: 6.5px 6.5px;
    transform-origin: 6.5px 6.5px;
    border: 0px none rgb(146, 146, 146);
    font: normal normal normal 13px/13px 'Glyphicons Halflings';
    outline: rgb(146, 146, 146) none 0px;
}/*#SPAN_115*/

#SPAN_115:before {
    box-sizing: border-box;
    color: rgb(146, 146, 146);
    text-align: center;
    content: '';
    border: 0px none rgb(146, 146, 146);
    font: normal normal normal 13px/13px 'Glyphicons Halflings';
    outline: rgb(146, 146, 146) none 0px;
}/*#SPAN_115:before*/

#SPAN_116, #SPAN_119 {
    box-sizing: border-box;
    color: rgb(146, 146, 146);
    text-align: center;
    border: 0px none rgb(146, 146, 146);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    outline: rgb(146, 146, 146) none 0px;
}/*#SPAN_116, #SPAN_119*/

#SPAN_118 {
    box-sizing: border-box;
    color: rgb(146, 146, 146);
    display: inline-block;
    height: 13px;
    position: relative;
    text-align: center;
    top: 1px;
    width: 13px;
    perspective-origin: 6.5px 6.5px;
    transform-origin: 6.5px 6.5px;
    border: 0px none rgb(146, 146, 146);
    font: normal normal normal 13px/13px 'Glyphicons Halflings';
    outline: rgb(146, 146, 146) none 0px;
}/*#SPAN_118*/

#SPAN_118:before {
    box-sizing: border-box;
    color: rgb(146, 146, 146);
    text-align: center;
    content: '';
    border: 0px none rgb(146, 146, 146);
    font: normal normal normal 13px/13px 'Glyphicons Halflings';
    outline: rgb(146, 146, 146) none 0px;
}/*#SPAN_118:before*/

#SCRIPT_120 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SCRIPT_120*/

#H5_22, #H5_36, #H5_53, #H5_61, #H5_81, #H5_95 {
    box-sizing: border-box;
    color: rgb(143, 143, 148);
    height: 18px;
    text-align: center;
    text-transform: uppercase;
    width: 2268px;
    z-index: 0;
    perspective-origin: 1134px 9px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 1134px 9px;
    border: 0px none rgb(143, 143, 148);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    margin: 0px;
    outline: rgb(143, 143, 148) none 0px;
}/*#H5_22, #H5_36, #H5_53, #H5_61, #H5_81, #H5_95*/

#UL_23, #UL_37, #UL_82, #UL_96 {
    background-blend-mode: normal, normal;
    background-position: 0px 100%, 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 301px;
    width: 2268px;
    z-index: 0;
    perspective-origin: 1134px 150.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 1134px 150.5px;
    background: rgb(255, 255, 255) url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>'), url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>') no-repeat, no-repeat scroll, scroll 0px 100%, 0px 0px / auto, auto padding-box, padding-box border-box, border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_23, #UL_37, #UL_82, #UL_96*/

#LI_24, #LI_38, #LI_55, #LI_63, #LI_83, #LI_97 {
    background-position: 15px 100%;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 64px;
    position: relative;
    width: 2268px;
    perspective-origin: 1134px 32px;
    transform-origin: 1134px 32px;
    background: rgba(0, 0, 0, 0) url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>') no-repeat scroll 15px 100% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    padding: 11px 65px 11px 15px;
}/*#LI_24, #LI_38, #LI_55, #LI_63, #LI_83, #LI_97*/

#IMG_25, #IMG_28, #IMG_31, #IMG_34, #IMG_39, #IMG_42, #IMG_45, #IMG_48, #IMG_56, #IMG_59, #IMG_64, #IMG_67, #IMG_70, #IMG_73, #IMG_76, #IMG_84, #IMG_87, #IMG_90, #IMG_93, #IMG_98, #IMG_101, #IMG_104, #IMG_107 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 42px;
    text-align: left;
    width: 42px;
    perspective-origin: 21px 21px;
    transform-origin: 21px 21px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#IMG_25, #IMG_28, #IMG_31, #IMG_34, #IMG_39, #IMG_42, #IMG_45, #IMG_48, #IMG_56, #IMG_59, #IMG_64, #IMG_67, #IMG_70, #IMG_73, #IMG_76, #IMG_84, #IMG_87, #IMG_90, #IMG_93, #IMG_98, #IMG_101, #IMG_104, #IMG_107*/

#DIV_26, #DIV_29, #DIV_32, #DIV_35, #DIV_43, #DIV_46, #DIV_49, #DIV_57, #DIV_60, #DIV_65, #DIV_68, #DIV_71, #DIV_74, #DIV_77, #DIV_85, #DIV_88, #DIV_91, #DIV_94, #DIV_102, #DIV_105, #DIV_108 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 18px;
    text-align: left;
    width: 2136px;
    perspective-origin: 1068px 9px;
    transform-origin: 1068px 9px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#DIV_26, #DIV_29, #DIV_32, #DIV_35, #DIV_43, #DIV_46, #DIV_49, #DIV_57, #DIV_60, #DIV_65, #DIV_68, #DIV_71, #DIV_74, #DIV_77, #DIV_85, #DIV_88, #DIV_91, #DIV_94, #DIV_102, #DIV_105, #DIV_108*/

#LI_27, #LI_30, #LI_41, #LI_66, #LI_72, #LI_86, #LI_100 {
    background-position: 15px 100%;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 64px;
    position: relative;
    width: 2268px;
    perspective-origin: 1134px 32px;
    transform-origin: 1134px 32px;
    background: rgba(0, 0, 0, 0) url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'100%\' height=\'1\'><rect fill=\'#c8c7cc\' x=\'0\' y=\'0\' width=\'100%\' height=\'0.5\'/></svg>') no-repeat scroll 15px 100% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 13px/18px verdana, arial, helvetica, sans-serif;
    list-style: none outside none;
    margin: 15px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    padding: 11px 65px 11px 15px;
}/*#LI_27, #LI_30, #LI_41, #LI_66, #LI_72, #LI_86, #LI_100*/


#BUTTON_18 {
    box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 34px;
    min-height: 0px;
    position: relative;
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 2268px;
    z-index: 0;
    perspective-origin: 1134px 17px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 1134px 17px;
    background: rgba(247, 247, 247, 0.980392) linear-gradient(rgb(92, 184, 92) 0px, rgb(65, 150, 65) 100%) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal 14px/20px verdana, arial, helvetica, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 6px 12px;
    transition: all 0.2s linear 0s;
}/*#BUTTON_18*/

#BUTTON_19 {
    box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    height: auto;
    min-height: 0px;
    position: relative;
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
    vertical-align: middle;
    visibility: hidden;
    white-space: nowrap;
    width: 100%;
    z-index: 0;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(247, 247, 247, 0.980392) linear-gradient(rgb(217, 83, 79) 0px, rgb(193, 46, 42) 100%) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal 14px/20px verdana, arial, helvetica, sans-serif;
    margin: 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 6px 12px;
    transition: all 0.2s linear 0s;
}/*#BUTTON_19*/

#BUTTON_20 {
    box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 34px;
    min-height: 0px;
    position: relative;
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 2268px;
    z-index: 0;
    perspective-origin: 1134px 17px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 1134px 17px;
    background: rgb(0, 122, 255) linear-gradient(rgb(66, 139, 202) 0px, rgb(45, 108, 162) 100%) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(0, 122, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal 14px/20px verdana, arial, helvetica, sans-serif;
    margin: 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 6px 12px;
    transition: all 0.2s linear 0s;
}/*#BUTTON_20*/

#BUTTON_21, #BUTTON_52, #BUTTON_80 {
    box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    height: 34px;
    min-height: 0px;
    position: relative;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 2268px;
    z-index: 0;
    perspective-origin: 1134px 17px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 1134px 17px;
    background: rgba(247, 247, 247, 0.980392) linear-gradient(rgb(255, 255, 255) 0px, rgb(224, 224, 224) 100%) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal 14px/20px verdana, arial, helvetica, sans-serif;
    margin: 5px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 6px 12px;
    transition: all 0.2s linear 0s;
}/*#BUTTON_21, #BUTTON_52, #BUTTON_80*/









/*!
 * Bootstrap v3.2.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-default:disabled,
.btn-default[disabled] {
  background-color: #e0e0e0;
  background-image: none;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image:      -o-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#2d6ca2));
  background-image:         linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #2b669a;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2d6ca2;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #2d6ca2;
  border-color: #2b669a;
}
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #2d6ca2;
  background-image: none;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image:      -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
  background-image:         linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
.btn-success:disabled,
.btn-success[disabled] {
  background-color: #419641;
  background-image: none;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image:      -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
  background-image:         linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-info:disabled,
.btn-info[disabled] {
  background-color: #2aabd2;
  background-image: none;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image:      -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
  background-image:         linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-warning:disabled,
.btn-warning[disabled] {
  background-color: #eb9316;
  background-image: none;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image:      -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
  background-image:         linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}
.btn-danger:disabled,
.btn-danger[disabled] {
  background-color: #c12e2a;
  background-image: none;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #357ebd;
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image:      -o-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#357ebd));
  background-image:         linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
  background-repeat: repeat-x;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
  background-image:         linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image:      -o-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f3f3f3));
  background-image:         linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222 0%, #282828 100%);
  background-image:      -o-linear-gradient(top, #222 0%, #282828 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#282828));
  background-image:         linear-gradient(to bottom, #222 0%, #282828 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image:      -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
  background-image:         linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image:      -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
  background-image:         linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image:      -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
  background-image:         linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image:      -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
  background-image:         linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image:      -o-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#3071a9));
  background-image:         linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image:      -o-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#449d44));
  background-image:         linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image:      -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#31b0d5));
  background-image:         linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image:      -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#ec971f));
  background-image:         linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image:      -o-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c9302c));
  background-image:         linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #3071a9;
  background-image: -webkit-linear-gradient(top, #428bca 0%, #3278b3 100%);
  background-image:      -o-linear-gradient(top, #428bca 0%, #3278b3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#3278b3));
  background-image:         linear-gradient(to bottom, #428bca 0%, #3278b3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #3278b3;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image:      -o-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#357ebd));
  background-image:         linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
  background-repeat: repeat-x;
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image:      -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#d0e9c6));
  background-image:         linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
  background-repeat: repeat-x;
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#c4e3f3));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
  background-repeat: repeat-x;
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image:      -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#faf2cc));
  background-image:         linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
  background-repeat: repeat-x;
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image:      -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#ebcccc));
  background-image:         linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
  background-repeat: repeat-x;
}
.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image:      -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
  background-image:         linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
}
/*# sourceMappingURL=bootstrap-theme.css.map */






</style>