   <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                Accolate 20 MG Oral Tablet
              </span>
              <span class="survey-country grid-only">
                TAKE 1 TABLET EVERY 12 HOURS DAILY
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/Accolate.png" alt="" style="width:120px; ">
                <span class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>

               <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                Actos 30 MG Oral Tablet
              </span>
              <span class="survey-country grid-only">
                Take 1 daily., NO REFILLS
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/Actos.png" alt="" style="width:120px; ">
                <span class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>

               <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                Atrovent 18 MCG/ACT AERS
              </span>
              <span class="survey-country grid-only">
                INHALE 2 PUFFS FOUR TIMES DAILY AS DIRECTED
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/Atrovent.png" alt="" style="width:120px; ">
                <span class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>

               <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                Axid 150 MG CAPS
              </span>
              <span class="survey-country grid-only">
                [Reported]
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/Axid.png" alt="" style="width:120px; ">
                <span class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>

               <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                Captopril 25 MG Oral Tablet
              </span>
              <span class="survey-country grid-only">
                TAKE 1 TABLET TWICE  DAILY
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/Captopril.png" alt="" style="width:120px; ">
                <span class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>

               <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                Cardizem CD 120 MG Oral Capsule
              </span>
              <span class="survey-country grid-only">
                [Reported]
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/Cardizem.png" alt="" style="width:120px; ">
                <span class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>

               <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                Cozaar 25 MG Oral Tablet
              </span>
              <span class="survey-country grid-only">
                Take 1 daily., 5 refills
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/Cozaar.png" alt="" style="width:120px; ">
                <span class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>

               <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                FLUoxetine HCl - 20 MG Oral Capsule
              </span>
              <span class="survey-country grid-only">
                TAKE 1 CAPSULE Bedtime, 5 refills
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/FLUoxetine.png" alt="" style="width:120px; ">
                <span class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>

               <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                GlyBURIDE 5 MG Oral Tablet
              </span>
              <span class="survey-country grid-only">
                Take 1 twice daily
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/GlyBURIDE.png" alt="" style="width:120px; ">
                <span class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>

               <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                Hydrochlorothiazide 50 MG Oral Tablet
              </span>
              <span class="survey-country grid-only">
                TAKE 1 TABLET EVERY MORNING
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/Hydrochlorothiazide.png" alt="" style="width:120px; ">
                <span class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>

               <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                LORazepam 2 MG Oral Tablet
              </span>
              <span class="survey-country grid-only">
                TAKE 1 TABLET DAILY AT BEDTIME
              </span>
              <div class="pull-right"><br>
                <img src="/img/meds/LORazepam.png" alt="" style="width:120px; ">
                <span tyle="checkbox" class="survey-stage"onclick="alert('Selected');" >
                  <input type="checkbox">
                </span>
              </div>
            </li>