            <li class="survey-item" id="patient1">
              <span class="survey-country list-only">
                US
              </span>
              <span class="survey-name">
                Stella Paterson
              </span>
              <span class="survey-country grid-only">
                US
              </span>
              <div class="pull-right">
                <span class="survey-progress">
                  <span class="survey-progress-bg">
                    <span class="survey-progress-fg" style="width: 88%;"></span>
                  </span>
                  <span class="survey-progress-labels">
                    <span class="survey-progress-label">
                      83%
                    </span>
                    <span class="survey-completes">
                      Medicare
                    </span>
                  </span>
                </span>
                 <span class="survey-end-date ended">
                  July 10, 1924
                </span>
                <span class="survey-stage"onclick="alert('Selected');" >
                  <span class="stage draft">Draft</span>
                  <span class="stage awarded">Awarded</span>
                  <span class="stage live">Live</span>
                  <span class="stage ended active">Ended</span>
                </span>
              </div>
            </li>

